.ride-card{
    width: 270px;
    height: 264px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    padding-top: 50px;
}
.card-body h1{
    padding-bottom: 25px;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #2D2D2D;
}
div.col-md-3:first-child h1{
    padding-top: 45px;
}
div.col-md-3:nth-child(2) h1{
    padding-top: 41px;
}
div.col-md-3:nth-child(3) h1{
    padding-top: 9px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .ride-card {
        margin-left: 20px;
        margin-bottom: 12px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
 
}