.home{
    background: url("../Home/Bg.png");
    background-size: cover;

    width: 100%;
    min-height: 900px;
    background-position: center ;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
   
}
